
:root {
  --dark-cerulean: #124e78;
  --maastricht-blue: #0b132b;
  --boxes: #442a0f;
  --yankees-blue: #1C2541;
  --sea-serpent: #eeee16;
  --aquamarine: #dde37e;
  --react: #d4e392;
}

html {
  background: var(--yankees-blue);
  margin: 0px;
  height: 100%;
}

body {
  margin: 0;
  color: white;
  margin: 0px;
  height: 100%;
}

.dashboard {
  grid-area: Menu;
  padding: 5px;
  color: var(--react);
  background-color: var(--dark-cerulean);
  margin: 5px
}

.dashboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--boxes)
}

.reviews {
  grid-area: Reviews;
  padding: 5px;
  color: var(--react);
  margin: 5px
  
}

.reviews {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--boxes)
}

.avgRating {
  grid-area: AvgRating;
  padding: 5px;
  color: var(--react);
  margin: 5px
}

.avgRating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--boxes)
}

.sentAnalysis {
  grid-area: SentAnalysis;
  padding: 5px;
  color: var(--react);
  background-color: var(--dark-cerulean);
  margin: 5px
}

.sentAnalysis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--boxes)
}
 
.webVisitors {
  grid-area: WebVisit;
  padding: 5px;
  color: var(--react);
  background-color: var(--dark-cerulean);
  margin: 5px
}

.webVisitors {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--boxes)
}

.container {
  display: grid;
  grid-template:
    'Header Header Header Header'
    'Menu Reviews AvgRating SentAnalysis'
    'Menu WebVisit WebVisit WebVisit'
    ;
}

.container {
  display: grid;
  background: var(--yankees-blue);
  height: 75vh;
}

















/* 
.X, .O {
  flex-basis: 45%;
  text-align: center;
}

.X {
  color: var(--sea-serpent);
}

.O {
  color: var(--aquamarine);
}
h1 {
  flex-basis: 60%;
  color: var(--react);
  text-align: center;

} */